body{
    background-color: #936639;

}

#nome{
    background-color: #bf0603;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#descricao{
    font-family: monospace;
}

.sobre{
    font-style: italic;
}